[model file location]
location = /u01/AirflowVEnv/dags/selfcuremodel/rawdata/

[Database Filter Conditions]
h3businesid = HCS
doc_type_description = INVOICE
dataretionperiod = 3

[Database Connection Name]
default_connection_name = QAPRIME

[ReScoring]
rescoring = False

[To Mail Adressess]
to_mail_addresses = sivamani.e@ge.com;WCSGECARSRMG@ge.com 

[Server Environment]
Environment = QA
